<div id="search-container">
  <div id="search-box">
    <input id="input-search-box" placeholder="Busca por universidad, materia o profesor" type="text">
    <button id="search-button"> <img src="https://res.cloudinary.com/gbrnkx/image/upload/v1543943419/buenos-apuntes/logos/search-icon.png" height="30px" width="30px" alt="search-icon"></button>
  </div>
</div>
<div id="container-info">
  Holi
</div>