<header>


    <div class="search">
        <h1>Encuentra los apuntes que buscas</h1>
        <form action="/auth/results" method="POST">
            <input type="text" name="inputSearch" id="busquedaLanding" placeholder="Busca por título, profesor, materia o escuela">
            {{!-- <input type="submit"> --}}
        </form>
        
        <!--
        <input id="busquedaLanding" onfocus="Busqueda(this)" placeholder="Busca apuntes, materias y universidades" type="text">
        <a id="toResult" href="/resultados"></a>
-->

    </div>


</header>

<section class="apuntes">
    <div class="subirApuntes">
        <h2>¿Quieres subir tus apuntes?</h2>
        <button id="upLoad" ><img src="/images/plus.png" alt=""></button>
        <a id="toUploadCloud" href="/auth/upload"></a>
    </div>

    <div class="cards">
        <div>
            <img src="/images/group.png" alt="group">

            <p>Acumula puntos y accede a docuemntos premium</p>
        </div>

        <div>
            <img src="/images/stars.png" alt="stars">

            <p>Participa para ganar premios y sorteos</p>
        </div>

        <div>
            <img src="/images/community.png" alt="community">

            <p>Apoya a una comunidad de personas como tú</p>
        </div>
    </div>
</section>