<style>body{
background-color: white;
}
</style>

<section class="search2">
  <div>
    <div class="searchText">
      <p>Encuentra los apuntes que buscas</p>
    </div>
    <div class="searchInput">
      <input placeholder="Busca apuntes, materias y universidades" type="text">
    </div>
  </div>
</section>

<section class="filtros">
  <div class="university">
    <img src="/images/whiteUni.png"
      alt="">
    <select class="select" name="school" id="universidad">
      <option value="">Selecciona una escuela</option>

    </select>
  </div>

  <div class="university">
    <img src="/images/whiteBooks.png"
      alt="">
    <select class="select" name="school" id="materia">
      <option value="">Selecciona una materia</option>

    </select>
  </div>

  <div class="university">
    <img src="/images/whiteTeacher.png"
      alt="">
    <select class="select" name="profesor" id="profesor">
      <option value="">Selecciona un docente</option>

    </select>
  </div>
</section>

<section class="renderPreview" >
  <div>
      {{#each apuntes}}
        {{> previewCard this}}
      {{/each}}
      <br>
  </div>
  
</section>