* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background-color: rgba(52, 69, 120, 0.9);
    min-width: 400px;
}


#container-global {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    //background-image: url('https://res.cloudinary.com/gbrnkx/image/upload/v1543946754/buenos-apuntes/logos/fondo_index.png');
}

#container-header {
    //position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //size: 100%;
    height: 10vh;
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    //margin-right: 1000px;
    background-color: rgb(45, 81, 129);
    font-family: 'Raleway';
}

#logo-top-left {
    height: 8vh;
    width: 19vw;
    margin-top: 7px;
    margin-left: 70px;
    max-width: 200px;
    min-width: 150px;
}

#nav-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    max-width: 50%;
    //margin-right: 400px;
    font-family: 'Raleway';
}

.text-nav {
    color: white;
    font-family: Calibri;
    text-decoration: none;
}

#circle-profile-pic {
    border-radius: 50%;

}

#user-top-right {
    border-radius: 50%;
    border: 3px solid white;
    height: 35px;
    width: 35px;
    //margin-top: 5px;
    //margin-left: 50px;
    //margin-right: -400px;
}

.upload-button {
    border-radius: 3%;
    display: inline;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(76, 205, 180);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px 5px 13px 5px;
}

.upload-button img{
    width: 30px;
    margin-bottom: -8px;
    margin-right: 2vw;
}

#anchor-exit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //font-size: 12px
}

#search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    width: 480px;
    background-color: rgb(237, 191, 87);
    border-radius: 20px;
}

#input-search-box {
    height: 50px;
    width: 400px;
    background-color: white;
    font-size: 17px;
    text-align: left;
    text-indent: 5px;
    border: 0px;
    border-radius: 15px;
    outline: none;

}

#search-button {
    height: 55px;
    width: 55px;
    background-color: rgb(237, 191, 87);
    border: 0px;
}

//Upload view
#container-upload-data-input {
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
    width: 600px;
    background-color: rgb(231, 234, 237);
}

#container-data-input {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

#div-school-subject-period {
    display: flex;
    float: row;
    justify-content: space-between;
}

#input-title {
    height: 25px;
    width: 400px;
}

#upload-apunte-button {
    border-radius: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(237, 191, 87);
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

//End upload view


//Drag and drop
#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    //width: 400px;
    font-family: calibri;
    //margin: 100px auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

//End drag and drop



//OMAR ESTILOS//



.hambur {
    display: none;
}

.linkDown {
    background-color: white;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    margin-top: 2px;
}

.linkDown a {
    text-decoration: none;
    color: goldenrod;
    font-weight: 900;
    margin: 20px;
}

#listaa {
    display: none;
}

.vista {
    width: 70%;
}

@media only screen and (max-width: 790px) {
    .vista {
        display: none;
    }


    .hambur {
        display: block;
        position: fixed;
        right: 11vw;
        top: 2.5vh;
        width: 6vh;
    }

}


/*ANIMATION*/

.logoA:hover {
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


/*A ver si jala*/


h1,
h2,
p {
    text-align: center;
}

h1 {
    padding: 20vh 0 2vh 0;
    font-size: 7.8vh;
}

h2 {
    font-size: 5vh;
    padding: 4vw;
}

/* nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(52, 69, 120);
    font-size: 2.5vh;
}
 */

.profilePic {
    float: right;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    vertical-align: middle;
    margin-top: -5vh;
}

/* nav>div {
    float: right;
    margin: 3vh 1vw;
    padding-right: 5vw;
}

nav div ul {
    padding-right: 10vw;
} */


ul>li {
    display: inline;
    list-style: none;
    padding: 0 2vw;
    font-size: 1em;
}



header {
    padding-top: 15vh;
    background-image: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge/public/field/image/2017/10/onenote%20note%20taking.jpg?itok=bFauGScR");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    color: white;
}


header input {
    width: 80%;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 8%;
    border: 0;
    padding: 1vw;
    font-size: 1.7em;
    color: whitesmoke;
    border-radius: 20px;
    outline-color: rgba(0, 0, 0, 0);
}


header div {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: -15vh;
    height: 85vh;
}

.logoA {
    float: left;
    width: 25vh;
    padding: 1.5vh 6vw;
    vertical-align: middle;
    height: 8vh;
}

.linkUp {
    text-decoration: none;
    color: goldenrod;
    font-weight: 900;
}



.apuntes {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.apuntes h2 {
    margin-top: 5vh;
    color: whitesmoke;
}


.apuntes button {
    margin: 4vh 0 6vh;
    width: 40vw;
    height: 8vh;
    background-color: rgb(42, 56, 100);
    border: 0;
    border-radius: 10vw;
    border: 3px solid rgba(255, 255, 255, 0.7);
    outline-color: rgba(0, 0, 0, 0);
}

.apuntes button img {
    margin: 0;
    padding: 0;
    width: 6vh;
    height: auto;
}



.subirAPuntes {
    width: 100%;
    height: 50vh;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards div {
    width: 23vw;
    min-width: 220px;
    background-color: white;
    margin: 4vh 4vw;
    border-radius: 13%;
    padding: 2vh;
}

.cards img {
    width: 20vw;
    padding: 2vw;
    max-width: 200px;
}

.cards div p {
    font-size: 2vh;
}

//VISTA DE BUSQUEDA//

.search2 {
    /* background-color: whitesmoke; */
    
    width: 100%;
    height: 25vh;
}

.search2 div {
    display: flex;
    flex-direction: row;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

.searchText {
    color: black;
    font-size: 2vw;
    font-size: 4vmin;
    width: 27%;
}

.searchInput {
    width: 70%;
}

.searchInput input {
    height: 6vh;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 13px;
    border: 0;
    font-size: 3.2vmin;
    font-size: 2vmax;
    padding: 1vh;
    color: whitesmoke;
    outline-color: rgba(0, 0, 0, 0);
}

.filtros {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    justify-content: space-around;
    height: 20vh;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    height: auto;
    margin-bottom: 10vh;
}

.university {
    background-color: rgb(0, 151, 159);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 8vh;
    align-items: center;
    min-width: 300px;
    margin: 1vh;
    border-radius: 13px;
}

.university img {
    width: 6vh;
    border-radius: 20%;
}

.select {
    background-color: rgb(0, 151, 159);
    border: 0;
    height: 7vh;
    width: 190px;
    font-size: 4vmin;
    font-size: 2vmax;
    border-radius: 13px;
    color: whitesmoke;
    outline-color: rgba(0, 0, 0, 0);
}

//VISTA CARDS-PREVIEW//

.renderPreview>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 2vh;
}

.cardPreview {
    background-color: rgb(53, 44, 90);
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    color: white;
}

.upCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh;
}

.upCard h3,
p {
    text-align: left;
    margin: 1.2vh;
}

.upCard h3 {
    font-size: 3vh;
}

.upCard p {
    font-size: 2vh;
}

.vizualizacion {
    display: flex;
    flex-direction: row;

}

.ojito {
    width: 30px;
    height: 3vh;
    padding-right: 1vw;
    margin-top: 0.9vh;
}

.downPreview {
    font-weight: 400;
    font-size: 2vh;
}

//PROFILE VIEW//

.backImage {
    margin-top: 10vh;
    background-color: yellow;
}


//LOGIN//

.logged {
    background-color: rgb(52,69,120);
    color: goldenrod;
    width: 80%;
    height: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 4vh 0;
    max-width: 700px;
}

.logged h2 {
    font-size: 5em;
    margin-bottom: 2vh;
}

.logged label {
    font-size: 2em;
}

.logged div {
    display: flex;
}

.logged a {
    color:white;
}

#form-container button {
    width: 50%;
    padding: 1.6vh;
    margin: 4vh 20%;
    border: 0;
    background-color: rgb(0, 215, 179);
    color: whitesmoke;
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
    border-radius: 13px;
}

#form-container input{
    width:100%;
    margin: 30px 1px;
    height: 4vh;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 13px;
    border: 0;
    outline-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
}

#form-container p {
    font-size: 1.3em;
}